<ion-view view-title="{{t.defaultInfo[lang]}}">
  <ion-content>
    <div class="list">
      <div class="item">
        <b>role</b> : {{user.role.toUpperCase()}}
      </div>
      <div class="item">
        <b>Username</b> : {{user.username}}
      </div>
      <div class="item">
        <b>Password</b> : {{user.password}}
      </div>
      <div class="item item-thumbnail-right">
        <img src="{{user.img}}">
        <b>My thumbnail image</b> :
      </div>
      <div class="item">
        <b>name</b> : {{user.name}}
      </div>
      <div class="item">
        <b>age</b> : {{user.age}}
      </div>
      <div class="item">
        <b>gender</b> : {{user.gender}}
      </div>
      <div class="item">
        <b>contacts</b>
        <p>
          phone:{{user.contacts.phone}}
        </p>
        <p>
          kakaotalk:{{user.contacts.kakaotalk}}
        </p>
      </div>
      <!--<div class="item" ng-repeat="(key,value) in user">
        {{key}}<span class="item-note">{{value}}</span>
      </div>-->
    </div>
  </ion-content>
</ion-view>
