<ion-view view-title="my bookmarks">
  <ion-content>
    <div class="list" ng-show="user.role=='student'">
      <div class="item item-divider">
        my tutors
      </div>
      <a class="item item-avatar" ng-repeat="tutor in tutors" href="#/tab/booktutor/{{tutor.id}}">
        <img ng-src="{{tutor.user.img}}">
        <h2>{{tutor.user.name}} ({{tutor.user.age}}) {{tutor.user.gender}}</h2>
        <p>
          {{tutor.title}}
        </p>
      </a>
    </div>
    <div class="list" ng-show="user.role=='tutor'">
      <div class="item item-divider">
        my students
      </div>
      <a class="item item-avatar" ng-repeat="student in students" href="#/tab/bookstudent/{{student.id}}">
        <img ng-src="{{student.user.img}}">
        <h2>{{student.user.name}} ({{student.user.age}}) {{student.gender}}</h2>
        <p>
          {{student.title}}
        </p>
      </a>
    </div>
  </ion-content>
</ion-view>
