<ion-view view-title="My Profile Information">
  <ion-content>
    <div class="list">
      <div class="item item-divider">
        <b ng-show="user.role=='tutor'">Tutor Details</b>
        <b ng-hide="user.role=='tutor'">Student Details</b>
      </div>
      <div class="item" ng-repeat="(key, value) in data.profile">
        <b>{{key}}</b> : {{value}}
      </div>
    </div>

    <!-- 지울것
    <div class="list" ng-show="false">
      <div class="item" ng-repeat="(key, value) in user.profile">
        {{key}} : {{value}}
      </div>
    </div>
    <div class="list" ng-show="false">
      <div class="item">
        <b>Tutor Details</b>
      </div>
      <div class="item">
        <b>title</b> : {{user.tutor.title}}
      </div>
      <div class="item">
        <b>cert_level</b> : {{user.tutor.cert_level}}
      </div>
      <div class="item">
        <b>recommended</b> : {{user.tutor.recommended}}
      </div>
      <div class="item">
        <b>addr</b> : {{user.tutor.addr}}
      </div>
      <div class="item">
        <b>subjects</b> : {{user.tutor.subjects}}
      </div>
      <div class="item">
        <b>fee</b> : {{user.tutor.fee}}
      </div>
      <div class="item">
        <b>avail_schedule</b> : {{user.tutor.avail_schedule}}
      </div>
      <div class="item">
        <b>education</b> : {{user.tutor.education}}
      </div>
      <div class="item">
        <b>experience</b> : {{user.tutor.experience}}
      </div>
      <div>
      </div>
    </div>-->
  </ion-content>
</ion-view>
