<ion-view view-title="Languages">
  <ion-content>
    <div class="list">
      <ion-radio ng-repeat="item in languages"
                 ng-value="item.value"
                 ng-model="data.lang"
                 ng-change="changeLang(item)"
                 name="lang">
        {{ item.text }}
      </ion-radio>
    </div>
  </ion-content>
</ion-view>
