<ion-view view-title="{{t.studentDetail[lang]}}">
  <ion-content>
    <div class="list card">
      <div class="item item-thumbnail-left">
          <img src="{{student.user.img}}">
          <h2>{{student.title}}</h2>
          <p>
            <b>{{student.user.name}}</b> | <b>{{t.age[lang]}}</b> {{student.user.age}} | <b>{{t.gender[lang]}}</b> {{student.user.gender}}
          </p>
      </div>
      <div class="item">
        <b>{{t.introduction[lang]}}</b>
        <p>
          {{student.introduction}}
        </p>
      </div>
      <div class="item">
        <b>{{t.information[lang]}}</b>
        <p>
          <b>{{t.langLevel[lang]}}</b> : {{t.langLevelText[student.lang_level][lang]}}
        </p>
        <p>
          <b>{{t.address[lang]}}</b> : {{getConditionString(student.addr)}}
        </p>
        <p>
          <b>{{t.isGroup[lang]}}</b> : {{student.is_group? t.isGroupText[0][lang]:t.isGroupText[1][lang]}}
        </p>
      </div>
      <div class="item">
        <b>{{t.conditions[lang]}}</b>
        <p>
          <b>{{t.avail_schedule[lang]}}</b> : {{getConditionString(student.avail_schedule)}} | {{t.preTimesPerWeek[lang]+student.avail_tutoring_num+" "+t.postTimesPerWeek[lang]}}
        </p>
        <p>
          <b>{{t.subjects[lang]}}</b> : {{getConditionString(student.subjects)}}
        </p>
        <p>
          <b>{{t.fee[lang]}}</b> : {{student.fee[0]+"~"+student.fee[1]+t.currency[lang]}}
        </p>
      </div>
      <div class="item">
        <b>{{t.contacts[lang]}}</b>
        <p>
          <span ng-show="user.role == 'tutor'">{{t.phone[lang]}} : {{student.user.contacts.phone}} <a href="tel:{{student.user.contacts.phone}}">tell</a> |
            {{t.kakaotalk[lang]}} : {{student.user.contacts.kakaotalk}}</span>
          <span ng-hide="user.role == 'tutor'">{{t.notTutor[lang]}} <a href="#/tab/account">{{t.notTutorLink[lang]}}</a></span>
        </p>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" ng-show="user.role=='tutor'" ng-click="addBookmark(student.id)">
          <i class="icon ion-share"></i>
          Bookmark
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
