<ion-view view-title="{{t.account[lang]}}">
  <ion-content>
    <!-- Login -->
    <div class="list" ng-show="!user">
      <label class="item item-input">
        <span class="input-label">Username</span>
        <input type="text" ng-model="username" ng-enter="login(username,password)">
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password" ng-model="password" ng-enter="login(username,password)">
      </label>
      <div class="padding">
        <button class="button button-block button-positive" ng-click="login(username,password)">
          Sign in
        </button>
      </div>
    </div>

    <!-- Menu -->
    <div class="list" ng-show="user">
      <a class="item item-icon-left" href="#/tab/language">
        <i class="icon ion-android-globe"></i>
        {{t.language[lang]}}
      </a>
      <a class="item item-icon-left" href="#/tab/default">
        <i class="icon ion-information-circled"></i>
        {{t.defaultInfo[lang]}}
      </a>
      <a ng-show="user.role=='tutor'" class="item item-icon-left"
      href="#/tab/booktutor/{{user.profile.id}}">
        <i class="icon ion-university"></i>
        {{t.tutorInfo[lang]}}
      </a>
      <a ng-show="user.role=='student'" class="item item-icon-left"
      href="#/tab/bookstudent/{{user.profile.id}}">
        <i class="icon ion-university"></i>
        {{t.studentInfo[lang]}}
      </a>
      <a class="item item-icon-left" href="#/tab/bookmarks">
        <i class="icon ion-person-stalker"></i>
        {{user.role=="tutor"?t.bookmarkStudents[lang]:t.bookmarkTutors[lang]}}
      </a>
      <a class="item item-icon-left" ng-click="logout(); password=null;">
        <i class="icon ion-power"></i>
        {{t.logout[lang]}}
      </a>
    </div>
  </ion-content>
</ion-view>
