<ion-view view-title="{{t.students[lang]}}">
  <ion-content>
    <div class="list">
      <a ng-repeat="student in students" class="item item-thumbnail-left" href="#/tab/students/{{student.id}}">
        <img ng-src="{{student.user.img}}">
        <h2>{{student.title}}</h2>
        <p>
          {{student.user.name}} ({{student.user.age}}) {{student.user.gender}} | {{t.langLevel[lang]}} : {{t.langLevelText[student.lang_level-1][lang]}}
        </p>
        <p>
          {{t.avail_schedule[lang]}} : {{getConditionString(student.avail_schedule)}} | {{student.avail_tutoring_num}} {{t.timesPerWeek[lang]}}
        </p>
        <p>
          {{t.address[lang]}} : {{getConditionString(student.addr)}} | {{t.fee[lang]}} : {{student.fee[0]+"~"+student.fee[1]}}{{t.currency[lang]}}
        </p>
      </a>
    </div>
  </ion-content>
</ion-view>
