<ion-view view-title="{{t.tutors[lang]}}">
  <ion-content>
    <div class="list">
      <a ng-repeat="tutor in tutors" class="item item-thumbnail-left" href="#/tab/tutors/{{tutor.id}}">
        <img ng-src="{{tutor.user.img}}">
        <h2>{{tutor.title}}</h2>
        <p>{{tutor.user.name}} ({{tutor.user.age}}) {{tutor.user.gender}} | level:{{tutor.cert_level}} | ★:{{tutor.recommended.length}}</p>
        <p>{{t.avail_address[lang]}} : {{getAddrString(tutor)}}</p>
        <p>{{t.avail_schedule[lang]}} : {{getScheduleString(tutor)}}</p>
        <p>{{t.fee[lang]}} : {{tutor.fee[0]}} ~ {{tutor.fee[1]}}</p>
      </a>
    </div>
  </ion-content>
</ion-view>
