<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Tutors" icon-off="ion-at" icon-on="ion-at" href="#/tab/tutors">
    <ion-nav-view name="tab-tutors"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Students" icon-off="ion-pound" icon-on="ion-pound" href="#/tab/students">
    <ion-nav-view name="tab-students"></ion-nav-view>
  </ion-tab>


</ion-tabs>
