<ion-view view-title="{{t.tutorDetail[lang]}}">
  <ion-content>
    <div class="list card">
      <div class="item item-thumbnail-left">
        <img src="{{tutor.user.img}}">
        <h2>{{tutor.title}}</h2>
        <p><b>{{tutor.user.name}}</b> | <b>{{t.age[lang]}}</b> {{tutor.user.age}} | <b>{{t.gender[lang]}}</b> {{tutor.user.gender}}</p>
        <p>
          <b>{{t.recommended[lang]}}</b> {{tutor.recommended.length}} | <b>{{t.comments[lang]}}</b> {{tutor.comments.length}}
        </p>
      </div>
      <div class="item">
        <b>{{t.introduction[lang]}}</b>
        <p>
          {{tutor.introduction}}
        </p>
      </div>
      <div class="item">
        <b>{{t.qualification[lang]}}</b>
        <p>
          <b>{{t.level[lang]}} {{tutor.cert_level}}</b> : {{t.levelText[tutor.cert_level-1][lang]}}
        </p>
        <p>
          <b>{{t.education[lang]}}</b> : {{getSpecString(tutor.education)}}
        </p>
        <p>
          <b>{{t.experience[lang]}}</b> : {{getSpecString(tutor.experience)}}
        </p>
      </div>
      <div class="item">
        <b>{{t.conditions[lang]}}</b>
        <p>
          <b>{{t.avail_address[lang]}}</b> : {{getConditionString(tutor.addr)}}
        </p>
        <p>
          <b>{{t.subjects[lang]}}</b> : {{getConditionString(tutor.subjects)}}
        </p>
        <p>
          <b>{{t.avail_schedule[lang]}}</b> : {{getConditionString(tutor.avail_schedule)}}
        </p>
        <p>
          <b>{{t.fee[lang]}}</b> : {{tutor.fee[0]+"~"+tutor.fee[1]+t.currency[lang]}}
        </p>
      </div>

      <div class="item">
        <b>{{t.contacts[lang]}}</b>
        <p>
          <span ng-show="user.role == 'student'">
            {{t.phone[lang]}} : {{tutor.user.contacts.phone}} <a href="tel:{{tutor.user.contacts.phone}}">tell</a>
            | {{t.kakaotalk[lang]}} : {{tutor.user.contacts.kakaotalk}}</span>
          <span ng-hide="user.role == 'student'">{{t.notStudent[lang]}} <a href="#/tab/account">{{t.notStudentLink[lang]}}</a></span>
        </p>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" ng-show="user" ng-click="recommend()">
          <i class="icon ion-thumbsup"></i>
          Rocommend
        </a>
        <a class="tab-item" ng-click="pushCommentBtn()">
          <i class="icon ion-chatbox"></i>
          Comment
        </a>
        <a class="tab-item" ng-show="user.role=='student'" ng-click="addBookmark(tutor.id)">
          <i class="icon ion-share"></i>
          Bookmark
        </a>
      </div>
      <div class="item item-animate" ng-show="commentBtn">
        <div class="list">
          <div class="item item-avatar item-divider" ng-show="user">
            <img src="{{user.img}}">
            <h2>
              <b>Comments</b> : {{user.name}} ({{user.role.toUpperCase();}})
            </h2>
            <div class="row">
              <label class="item item-input col">
                <textarea placeholder="Comment" ng-model="commentText"></textarea>
              </label>
              <button class="col-20 button button-dark" ng-click="postComment(commentText); commentText = null;">post</button>
            </div>
          </div>
          <div  class="item item-avatar"
                ng-repeat="comment in tutor.comments">
            <img ng-src="{{comment.img}}">
            <h2>{{comment.name}}({{comment.role}})</h2>
            <p>
              {{comment.comment}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
