/* Empty. Add your own CSS if you like */
.item-animate.ng-hide {
  height:0;
  opacity:0;
  padding-top: 0;
  padding-bottom: 0;
}

.item-animate.ng-hide-remove,
.item-animate.ng-hide-add {
  display: block !important;
  transition: all linear 300ms;
}
